<div id="user_nav">
  <% if current_user %>
    Signed in as <%= current_user.name %>
    <%= link_to "Sign out", signout_path %>
  <% else %>

  <% end %>
</div>


<%= form_for @user do |builder| %>
  <p>
    <%= builder.label(:gender_string, "Please input gender(s): ") %>
    <%= builder.text_field(:gender_string) %>
  </p>
  <p>
    <%= builder.label(:orientation_string, "Please input orientation(s): ") %>
    <%= builder.text_field(:orientation_string) %>
  </p>
  <%= builder.submit %>
<% end %>