<%= form_for @user do |builder| %>
  <p>
    <%= builder.label(:gender_string, "Please input gender(s): ") %>
    <%= builder.text_field(:gender_string) %>
  </p>
  <p>
    <%= builder.label(:orientation_string, "Please input orientation(s): ") %>
    <%= builder.text_field(:orientation_string) %>
  </p>
  <%= builder.submit %>
<% end %>