<h2>Enter/Edit Your Demographic Information</h2>

  <h4>
    <% if current_user %>
      Signed in as <%= current_user.name %>
      <%= link_to "| Sign out", signout_path %>
    <% else %>
 
    <% end %>
	</h4>

<%= form_for @user, url: edit_user_path do |builder| %>
  <p>
    <%= builder.label :gender_string, "Please input gender(s): " %><br />
    <%= builder.text_field :gender_string %>    
	</p>
  <p>
    <%= builder.label :orientation_string, "Please input orientation(s): " %><br />
    <%= builder.text_field :orientation_string %>    
	</p>
  <div class="action">
    <%= builder.submit("Submit") %>
  </div>
  
<% end %>