<h1>User Index</h1>

<% @users.each do |u| %>
  <p>
    @<%= u.name %> - Twitter id: <%= u.uid %>
  </p>
  <p>
    <%= u.id %> 
    <%= u.gender_array %>
    <%= u.orientation_array %>
  </p>
<% end %>