<h1>Add Demographics</h1>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :gender_array, "Gender" %>
    <%= f.text_field :gender_array %>
  </p>
  <p>
    <%= f.label :orientation_array, "Orientation" %>
    <%= f.text_field :orientation_array %>
  </p>
  <%= f.submit %>
<% end %>