<h1>NAME's Reports</h1>
<p><%= Time.now %></p>

<p>This percentage of followers have provided demographic information!</p>

<p>GENDER REPORT<p>
  <div class="results">
    <% @report.gender_hash.each do |key, value| %>
      <p>following <%= value %> <%= key %> tweeters</p>
    <% end %>
  </div>
  <br />
<P>ORIENTATION REPORT<P>
  <div class="results">
    <% @report.orientation_hash.each do |key, value| %>
      <p>following <%= value %> <%= key %> tweeters</p>
    <% end %>
  </div>

<p>Link to share on twitter<p>
