<!DOCTYPE html>
<html>
<head>
  <title>TwitterDiversityReport</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
	<%= session %>
  
  <div id="user_nav">
    <% if current_user %>
      Signed in as <%= current_user.name %>
      <%= link_to "Sign out", signout_path %>
    <% else %>
   
    <% end %>
  </div>
  
 <% if flash[:notice] %>
 	<p id="notice"><%= flash[:notice]%>
 <% end %>


 <% if flash[:alert] %>
 	<p id="alert"><%= flash[:alert]%>
 <% end %>

<%= yield %>

</body>
</html>
