<!DOCTYPE html>
<html>
<head>
  <title>TwitterDiversityReport</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<header>
		<div class="logo">
			<h1>Twitter Diversity Report<h1>
		</div>
	</header>
  
  
 
  
		<% if flash[:notice] %>
			<p id="notice"><%= flash[:notice]%>
		<% end %>


		<% if flash[:alert] %>
			<p id="alert"><%= flash[:alert]%>
		<% end %>

			<%= yield %>
			
	<footer>
		<p> Created by Tony Plaza and Jason Laux.<br><a href="http://omahacodeschool.com/"> Thanks to Omaha Code School!</a></p>
	</footer>

	

</body>
</html>
